@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Fond blanc par défaut */
  --foreground: #171717; /* Couleur de texte par défaut */
  --font-plus-jakarta: 'Plus Jakarta Sans', sans-serif; /* Police de base */
  --font-oswald: 'Oswald', sans-serif; /* Police alternative */
}

body {
  color: var(--foreground); /* Couleur du texte */
  background: var(--background); /* Fond */
  font-family: var(--font-plus-jakarta), sans-serif; /* Utiliser Plus Jakarta Sans comme police de base */
  margin: 0; /* Évite les marges par défaut */
  padding: 0; /* Évite les paddings par défaut */
  box-sizing: border-box; /* Inclus les paddings et les bordures dans la largeur totale */
  overflow-x: hidden;
  min-height: 100vh; /* Hauteur minimale de la page */
  max-height: 100vh; /* Hauteur maximale de la page */

}

html,
body {
  overflow-x: hidden; /* Empêche le défilement horizontal */
}


@layer utilities {
  .text-balance {
    text-wrap: balance; /* Utilisation de la propriété text-wrap pour le texte équilibré */
  }
}

.sloganhero {
  font-family: var(--font-oswald), sans-serif; /* Utiliser Oswald comme police alternative */
  font-weight: 400; /* Gras */
  line-height: 1.2; /* Hauteur de ligne */
  margin: 0; /* Évite les marges par défaut */
  padding: 0; /* Évite les paddings par défaut */
}

.productscontainer {
  margin-left: auto; /* Marge à gauche automatique */
  margin-right: auto; /* Marge à droite automatique */
  max-width: 1200px; /* Largeur maximale */
  padding-left: 4rem; /* Padding à gauche */
  padding-right: 4rem; /* Padding à droite */
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slideInFromRight 1s ease-out forwards;
}

.loader {
  border: 8px solid #f3f3f3; /* Couleur de fond */
  border-top: 8px solid #ff5722; /* Couleur de l'animation */
  border-radius: 50%;
  width: 40px; /* Taille du loader */
  height: 40px; /* Taille du loader */
  animation: spin 1s linear infinite; /* Animation */
  margin: 20px auto; /* Centre le loader */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}



@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.scroll-container {
  position: fixed; /* Position fixe */
  bottom: 50px; /* Bas de la page */
  right: 1px; /* Droite de la page */
  z-index: 1000; /* Z-index */
  overflow: hidden;
}

ul {
  scrollbar-width: none; /* Firefox */
}

ul::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.hover-animate {
  transition: transform 0.2s ease-in-out;
}

.hover-animate:hover {
  transform: scale(1.05);
}

/* styles.css ou dans votre fichier CSS global */
.card-bg {
  background-image: url('https://imgs.search.brave.com/jUtHp_ooo8YEr8TB07fr15leUeBA73jNfO5No8rmBHE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTM0/NjMxNjAyNS9mci9w/aG90by9mb25kLWRl/LXJhaXNpbi1yb3Vn/ZS1mb25jJUMzJUE5/LWZyYWlzLmpwZz9z/PTYxMng2MTImdz0w/Jms9MjAmYz1XYUE1/UGJxV1FKNnF4OVFB/cDBHRnVzMlhnZ1lR/b3ZUdU95akRzOHhF/VjJNPQ'); /* Remplacez par le chemin de votre image */
  background-size: cover; /* Couvre toute la zone */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Évite de répéter l'image */
  padding: 20px; /* Optionnel : Ajoute de l'espace autour du contenu */

}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

